@model AllNews.Domain.SocialManagment


    <div class="social-head-items"><a href="https://www.instagram.com/@Model.InstagramIdName" class="fab fa-instagram"></a></div>
    <div class="social-head-items"><a href="https://www.facebook.com/@Model.FacebookIdName" class="fab fa-facebook"></a></div>
    <div class="social-head-items"><a href="https://www.youtube.com/channel/@Model.YoutubeIdName" class="fab fa-youtube"></a></div>
    <div class="social-head-items"><a href="https://telegram.me/@Model.TelegramIdName" class="fab fa-telegram"></a></div>
    <div class="social-head-items"><a href="https://twitter.com/@Model.TwitterIdName" class="fab fa-twitter"></a></div>


