@model AllNews.Domain.SocialManagment


<a href="https://www.instagram.com/@Model.InstagramIdName"><span class="fab fa-instagram"></span></a>
<a href="https://twitter.com/@Model.TwitterIdName"><span class="fab fa-twitter"></span></a>
<a href="https://www.facebook.com/@Model.FacebookIdName"><span class="fab fa-facebook"></span></a>
<a href="https://www.youtube.com/channel/@Model.YoutubeIdName"><span class="fab fa-youtube"></span></a>
<a href="https://telegram.me/@Model.TelegramIdName"><span class="fab fa-telegram"></span></a>


