@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<br />
<br />
<div class="row">
    <div class="col-md-6 m-auto">
        <div class="alert text-info d-flex align-items-center justify-content-center p-4">

            <h3 class="fas fa-check-circle mr-2"></h3>
            <h3>Logout Completed Successfully</h3>

        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-6 m-auto">
        <div class="d-flex align-items-center justify-content-center">
            <a asp-page="./Login" class="btn btn-outline-info">Log In</a>
        </div>
    </div>
</div>
