@page
@model AllNewsCms.Web.Pages.UserControl.CompleteModel
@{
    ViewData["Title"] = "Complete";
}
    <br />
<br />
<div class="row">
    <div class="col-md-6 m-auto">
        <div class="alert alert-success d-flex align-items-center justify-content-center p-4">
            
            <h3 class="fas fa-check-circle mr-2"></h3> 
            <h3>Password Changed Successfully</h3>
            
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-6 m-auto">
        <div class="d-flex align-items-center justify-content-center">
            <a asp-page="./Index" class="btn btn-outline-info">Back To Page</a>
        </div>
    </div>
</div>
