@page
@model AllNewsCms.Web.Pages.UserControl.PasswordConfimeModel
@{
    ViewData["Title"] = "PasswordConfime";
}

<br />
<div class="row">
    <div class="col-md-6 m-auto">
        <div class="alert alert-info d-flex align-items-center">
            <h4 class="fas fa-user mr-2"></h4>
            <h4>Resset Password For</h4>
            <h4 class="ml-2 text-warning">@Model.Users?.UserName</h4>
        </div>
        <hr />
        <form asp-page-handler="ChangePassword" method="post">
            <div class="form-group">
                <input type="hidden" asp-for="@Model.UserId" />
                <label asp-for="@Model.ResetPassword"></label>
                <input type="text" asp-for="@Model.ResetPassword" class="form-control" />

            </div>

            <br />
            <button type="submit" class="btn btn-outline-info">Update Password</button>
            <button type="reset" class="btn btn-sm btn-outline-info"><span class="fas fa-undo"></span></button>

        </form>
    </div>
</div>




